<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>河北敏泽科技有限公司</title>
<meta name="description" content="河北敏泽科技有限公司" />
<link href="__ROOT__/Public/images/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<include file="Public:header" />
<div class="maintop"></div>
<div class="main1"><!-- 主体内容开始 -->
<div class="main_l"><!-- 主体左侧开始 -->
<div class="leftbt">
  <div class="xwtxt">服务项目</div>
</div>
<div class="leftbtnr">
<li><a href="#">此处放服务项目大类别</a></li>
<li><a href="#">室内装饰工程</a></li>
<li><a href="#">家装类</a></li>
<li><a href="#">工装类</a></li>
<li><a href="#">此处放服务项目大类别</a></li>
</div>
<div class="leftbt"><div class="xwtxt">联系我们</div></div>
<div class="leftbtnr">
	
	<foreach name="contact" item="v">
	<li><a href="#">联系人：{$v.lx_name}</a></li>
	<li><a href="#">电话：{$v.lx_phone}</a></li>
	<li><a href="#">邮箱：{$v.lx_email}</a></li>
	<li><a href="#">客服QQ：{$v.lx_qq}</a></li>
	<li><a href="#">地址：{$v.lx_address} </a></li>
	</foreach>
	
	</div>
</div><!-- 主体左侧结束 -->
<div class="mr"><!-- 主体右侧开始 -->
<div class="mbrbt"><img src="__ROOT__/Public/images/gcal.gif" /></div>
<div class="mrbtnr"><!-- 主体右侧内容开始 -->
<div class="mrnr1">
	<div class="mrnrimg">
		<img src="__ROOT__/Public/uploads/{$pro.imagepath}" />
	</div>
	<div class="mrnrimg2">
		<h2 align="center">名称：{$pro.al_name}</h2>
		<p align="center">面积：{$pro.al_area}</p>
		<p align="center">风格：{$pro.al_style}</p>
		<p align="center">作者：{$pro.al_author}</p>
	</div>
	<div class="mrnrimgt">
		<font size="3">案例简介：{$pro.al_content}</font>
	</div>
</div>
</div>
<!-- 主体右侧内容结束 -->
</div><!-- 主体右侧结束 -->
</div><!-- 主体内容结束 -->
<include file="Public:footer" />
</body>
</html>
