<link href="__ROOT__/Public/css/fenxiang.css" rel="stylesheet" type="text/css" />
<div class="foot">
	
	版权所有 &copy; 你的网站名称 未经许可 严禁复制 <br />敏泽科技 版权所有<br />
	来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a>
	
	<div class="bshare-custom icon-medium-plus">
		<a title="分享到QQ空间" class="bshare-qzone"></a>
		<a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
		<a title="分享到人人网" class="bshare-renren"></a>
		<a title="分享到腾讯微博" class="bshare-qqmb"></a>
		<a title="分享到网易微博" class="bshare-neteasemb"></a>
		<a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
		<span class="BSHARE_COUNT bshare-share-count">0</span>
	</div>
</div>
<include file="Public:kefu" />
<script src='//kefu.easemob.com/webim/easemob.js?tenantId=26380&hide=false&sat=false' async='async'></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>