<!DOCTYPE html>
<html>
  <head>
    <title>后台管理系统</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="__ROOT__/Public/images/admin.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="__ROOT__/library/jquery/jquery-1.4.js"></script>
    <script type="text/javascript">
    
      //表单验证
      function checkAdd()
      {
    	  if(document.frm.zp_position.value == "")
          {
              alert("请输入职位！");
              document.frm.zp_position.focus();
              return false;
          }
    	  
      }
    </script>
  </head>
  <body>
    <!-- 网站的头 -->
    <include file="Public:header"/> <!-- 当前位置 -->
    
    <div class="locationDiv">&nbsp;: 后台管理 : 管理首页</div>
    <!-- 正文内容 -->
    <div class="mainDiv clear">
      <!-- 左侧树状列表 -->
      <div class="leftDiv"><include file="Public:left"/></div>
      <!-- 右侧页面内容 -->
      <div class="rightDiv">
        <br>
        <form name="frm" method="post" action="{:U('Admin/AddZhaopin/add')}" enctype="multipart/form-data" onsubmit="return checkAdd()">
        <table class="addZhaopinTb" bgcolor="#DCDCDC" border="0" align="center" width="700">
          <tr>
            <td>职位：</td>
            <td><input type="text" name="zp_position" size="50"></td>
          </tr>
          <tr>
            <td>经验：</td>
            <td><input type="text" name="zp_experience" size="50"></td>
          </tr>
          <tr>
            <td>学历：</td>
            <td><input type="text" name="zp_schooling" size="50"></td>
          </tr>
          <tr>
            <td>工资：</td>
            <td><input type="text" name="zp_wage" size="50"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
              <input type="submit" value="添加" class="btn2">
              &nbsp;&nbsp;&nbsp;
              <input type="reset" value="取消" class="btn2">
            </td>
          </tr>
        </table>
        </form>
      </div>
    </div>
  </body>
</html>
      
      
  </body>
</html>