<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>河北敏泽科技有限公司</title>
<meta name="keywords" content="网站建设、网站优化、SEO、网站推广、山东网站建设_山东网站优化_济南网站优化_济南seo" />
<meta name="description" content="济南企业网站建设模板" />
<link href="__ROOT__/Public/images/style.css" rel="stylesheet" type="text/css" />
</head>

<body>


<include file="Public:header" />


<div class="maintop"></div>
<div class="main1"><!-- 主体内容开始 -->
<div class="main_l"><!-- 主体左侧开始 -->
<div class="leftbt">
  <div class="xwtxt">服务项目</div>
</div>
<div class="leftbtnr">
<li><a href="#">此处放服务项目大类别</a></li>
<li><a href="#">室内装饰工程</a></li>
<li><a href="#">家装类</a></li>
<li><a href="#">工装类</a></li>
<li><a href="#">此处放服务项目大类别</a></li>
</div>
<div class="leftbt"><div class="xwtxt">联系我们</div></div>
<div class="leftbtnr">
	<volist name="contact" id="v">
		<li><a href="#">联系人：{$v.lx_name}</a></li>
		<li><a href="#">电话：{$v.lx_phone}</a></li>
		<li><a href="#">邮箱：{$v.lx_email}</a></li>
		<li><a href="#">客服QQ：{$v.lx_qq}</a></li>
		<li><a href="#">地址：{$v.lx_address}</a></li>
	</volist>
</div>
</div><!-- 主体左侧结束 -->
<div class="mr"><!-- 主体右侧开始 -->
<div class="mbrbt"><img src="__ROOT__/Public/images/news.gif" width="690" height="36" /></div>
<div class="mrbtnr"><!-- 主体右侧内容开始 -->
<div class="news">

<volist name="newsarticles" id="v">
<dt><a href="__APP__/Home/Listxq/index/xw_id/{$v.xw_id}.html">{$v.xw_title}</a></dt>
<dd>{$v.xw_dateandtime}</dd>

</volist>

</div>
</div><!-- 主体右侧内容结束 -->
</div><!-- 主体右侧结束 -->

<include file="Public/footer"/>
</div><!-- 主体内容结束 -->





</body>
</html>
